﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:482px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:1px;
  top:-3px;
  width:481px;
  height:895px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:895px;
}
#u1 {
  position:absolute;
  left:2px;
  top:440px;
  width:477px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:85px;
  top:170px;
  width:320px;
  height:548px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:548px;
}
#u3 {
  position:absolute;
  left:85px;
  top:220px;
  width:320px;
  height:350px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:350px;
}
#u4 {
  position:absolute;
  left:2px;
  top:167px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:85px;
  top:570px;
  width:320px;
  height:148px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:149px;
}
#u6 {
  position:absolute;
  left:2px;
  top:66px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:330px;
  top:650px;
  width:75px;
  height:68px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:68px;
}
#u8 {
  position:absolute;
  left:2px;
  top:26px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:245px;
  top:650px;
  width:85px;
  height:68px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:68px;
}
#u10 {
  position:absolute;
  left:2px;
  top:26px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:160px;
  top:650px;
  width:85px;
  height:68px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:68px;
}
#u12 {
  position:absolute;
  left:2px;
  top:26px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:85px;
  top:170px;
  width:320px;
  height:50px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:51px;
}
#u14 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:85px;
  top:650px;
  width:75px;
  height:68px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:68px;
}
#u16 {
  position:absolute;
  left:2px;
  top:26px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:85px;
  top:572px;
  width:85px;
  height:68px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:68px;
}
#u18 {
  position:absolute;
  left:2px;
  top:26px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:170px;
  top:572px;
  width:85px;
  height:68px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:68px;
}
#u20 {
  position:absolute;
  left:2px;
  top:26px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:255px;
  top:572px;
  width:75px;
  height:68px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:68px;
}
#u22 {
  position:absolute;
  left:2px;
  top:26px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:330px;
  top:572px;
  width:75px;
  height:68px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:68px;
}
#u24 {
  position:absolute;
  left:2px;
  top:26px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:85px;
  top:150px;
  width:320px;
  height:20px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u26 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:342px;
  top:186px;
  width:51px;
  height:18px;
  font-size:16px;
  color:#FFFFFF;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:19px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:118px;
  top:186px;
  width:52px;
  height:18px;
  font-size:16px;
  color:#FFFFFF;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:97px;
  top:175px;
  width:21px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:35px;
  color:#FFFFFF;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:41px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:178px;
  top:175px;
  width:12px;
  height:16px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:17px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  visibility:hidden;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:208px;
  top:182px;
  width:73px;
  height:26px;
  font-size:22px;
  color:#FFFFFF;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:27px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
